p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:brown;
    text-align: center;
}

html {
    background-image: linear-gradient(to right,lightblue, purple);
}

#bullet-points {
    color: maroon;
    font-size: x-large;
}

.images {
    rotate: 45deg;
    width: 250px;
    height: 250px;
}

.intro-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:darkmagenta;
    font-size: 150px;
    margin-bottom: 0px;
}

.suspicious-link {
    color:red;
    padding: 32px;
}