html {
    background-color: #bdbdbd;
}

button {
    background-color: #bdbdbd;
}

img {
    height: 250px;
}

.img-preview {
    height: 80px;
    width: 320px;
    object-fit: cover;
}

.about-card-container {
    display: flex;
    gap: 2rem;
}

.about-card {
    width: 320px;
}

.port-img {
    max-width: 380px;
    object-fit: cover;
}

.port-img-container {
    display: flex;
    flex-wrap: wrap; 
    width: 100vw;
    gap: 2rem;
    justify-content: center;
}

/* p {
    color:brown;
    text-align: center;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right,lightblue, purple);
}

#bullet-points {
    color: maroon;
    font-size: x-large;
}

.images {
    rotate: 45deg;
    width: 250px;
    height: 250px;
}

.intro-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:darkmagenta;
    font-size: 150px;
    margin-bottom: 0px;
}

.suspicious-link {
    color:red;
    padding: 32px;
} */