html {
    box-sizing: 0;
    margin: 0;
    /* padding: 0 2rem; */
    background-color: #bdbdbd;
    font-family: monospace;
    overflow-x: hidden;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;
    background-color: blue;
    color: white;
}

.body-pad {
    padding: 1.25rem 2rem;
}

button {
    background-color: #bdbdbd;
    font-family: monospace;
    color: blue;
}

img {
    height: 250px;
}

.hero-text {
    text-align: center;
    padding: 8rem 12rem;
}

.special-text {
    color: blue;
}

.img-preview {
    height: 80px;
    width: 320px;
    object-fit: cover;
}

.about-card-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.about-card {
    width: 320px;
}

.port-img {
    max-width: 380px;
    object-fit: cover;
}

.port-img-container {
    display: flex;
    flex-wrap: wrap; 
    width: 100vw;
    gap: 2rem;
    justify-content: center;
}

.dir-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.dir-item {
    max-width: 380px;
}
/* p {
    color:brown;
    text-align: center;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right,lightblue, purple);
}

#bullet-points {
    color: maroon;
    font-size: x-large;
}

.images {
    rotate: 45deg;
    width: 250px;
    height: 250px;
}

.intro-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:darkmagenta;
    font-size: 150px;
    margin-bottom: 0px;
}

.suspicious-link {
    color:red;
    padding: 32px;
} */